img {
    vertical-align: super !important;
    object-fit: cover;
}

.bg-light {
    border-radius: 10px !important;
}

.nav-link.active {
    color: rgba(0, 0, 0, 1) !important;
    border-bottom: 2px solid #D71F24 !important;
    padding-bottom: 0px !important;
}

.img-banner {
    border-radius: 25px;
}

.btn {
    border-radius: 25px !important;
}

.btn-outline-success {
    color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    background-color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:active {
    color: #ffffff !important;
    background-color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #e9aa1e42 !important;
}

.form-control {
    border: none !important;
    border-radius: 25px !important;
}

.busca {
    background: white;
    border: none;
    border-radius: 30px;
    padding: 3px;
    box-shadow: 0px 0px 5px #00000020;
    width: 25%;
}

.carousel {
    margin-top: 20px;
}

.carousel-item.active {
    display: flex !important;
    justify-content: center !important;
}
