img {
    vertical-align: super !important;
    object-fit: cover;
}

.bg-light {
    border-radius: 10px !important;
}

.nav-link.active {
    color: rgba(0, 0, 0, 1) !important;
    border-bottom: 2px solid #D71F24 !important;
    padding-bottom: 0px !important;
}

.img-banner {
    border-radius: 25px;
}

.btn {
    border-radius: 25px !important;
}

.btn-outline-success {
    color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    background-color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:active {
    color: #ffffff !important;
    background-color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #e9aa1e42 !important;
}

.form-control {
    border: none !important;
    border-radius: 25px !important;
}

.busca {
    background: white;
    border: none;
    border-radius: 30px;
    padding: 3px;
    box-shadow: 0px 0px 5px #00000020;
    width: 35%;
    margin-right: 50px;
}

.carousel {
    margin-top: 20px;
}

.carousel-item.active {
    display: flex !important;
    justify-content: center !important;
}

.buttons {
    margin: 50px 100px;
    width: max-content !important;
    background: white;
    border: none;
    border-radius: 30px;
    padding: 3px;
    box-shadow: 0px 0px 5px #00000020;
    width: 25%;
}

.btn-outline-success.active {
    background-color: #e9aa1e !important;
    color: #fff !important;
}

.button-options:hover {
    border-color: #e9aa1e !important;
}

.card {
    border-radius: 10px !important;
    box-shadow: 0 .375rem .75rem rgba(140,152,164,.075);
}

.card:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

.card-img-top {
    height: 240px !important;
    width: 200px !important;
    border-radius: 10px !important;
    object-fit: cover !important;
    align-self: center;
    margin-top: 1rem;
}

.card-title {
    font-size: 1.1vw;
}

.card-text {
    font-size: .9vw;
}

.btn-primary {
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    color: #e9aa1e !important;
    border-color: #e9aa1e !important;
}

.title {
    color: rgba(0,0,0,.55);
    padding: 0rem .5rem;
}

.title::before {
    background: #e9aa1e;
    border-radius: 3px;
    content: "";
    display: block;
    position: absolute;
    margin-top: 2.5rem;
    left: 10%;
    margin-left: -2.5rem;
    width: 77.2rem;
    height: .25rem;
}

.sub-title {
    color: rgba(0,0,0,.55);
    padding: 0rem 0.5rem;
    margin-top: -2px;
}

.img-fluid {
    height: 100% !important;
    border-radius: 10px 0px 0px 10px !important;
}

.grid {
    display: grid;
    grid-template: 402px / 50% 50%;
    margin: 50px 100px 50px 100px;
}

.grid-1 {
    display: grid;
}

.grid-2 {
    display: grid;
}

.social-media {
    display: flex;
    align-items: center;
}

.bilheteria {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 15px;
    margin: -10px 0px 50px 110px;
    width: 85vw;
    align-items: center;
}

/* .badge {
    height: 40px;
    width: 35px;
} */

/* .badge::before {
    content: "";
    height: 26px;
    width: 25px;
    background-color: white;
    position: absolute;
    margin-top: 22px;
    left: 114px;
    transform: rotate(45deg);
} */


